.header {
    font-family: Verdana;
    background-color: rgba(117, 117, 203, 0.629);
    border-radius: 10px;
    height: 60px;
    text-align: center;
}

.header2 {
    font-family: Verdana;
    text-align: center;
}

.paragraph2 {
    font-family: Verdana;
    font-size: 12px;
    padding-left: 5%;
    padding-right: 5%;
}

.paragraph {
    text-align: center;
    font-family: Verdana;
}

.paragraphBg {
    text-align: center;
    font-family: Verdana;
    background-color: rgba(19, 15, 14, 0.3);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
    border-radius: 15px;
}

.button1:hover {
    background-color: #4CAF50;
    color: white;
}